@import 'reset';
@import 'scrollbar';

html,
body,
#react-admin-template,
#app-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#app-container {
	a:hover {
		color: @dark-primary-color;
	}
	.all-inherit {
		color: inherit;
		background: inherit;

		&:hover,
		&:active,
		&:visited,
		&:focus {
			color: inherit;
			background: inherit;
		}
	}
}



