.userCenter {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
}
.avatar {
	cursor: pointer;
}

.userCenterMenu {
	//width: 200px;
	.header {
		padding: 4px 12px 8px 12px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		.name {
			font-size: 16px;
			font-weight: 700;
		}
		.email {
			font-size: 12px;
		}
	}
	.userCenterMenuItem {
		padding: 8px 12px;
	}
}


